@charset "utf-8";
.content_pro { width:930px; margin:0 auto; height:auto; overflow:hidden; }
.content_web { width:auto; margin-bottom:3px; height:auto; float:left; }
.medill_p_plate { width:930px; float:left; margin:0 0 100px 0;  *+padding-bottom:80px;
_margin:0 0 -55px 0; }
.medill_p_plate2 { width:930px; float:left; }
.solu_l { float:left; width:703px; height:354px; background:url(../images/solu13.jpg)/*tpa=http://www.300.cn/images/solu13.jpg*/ no-repeat right bottom; padding:0; }
.solu_form { width:284px; height:303px; float:left; margin:10px 0 0 45px; _margin:6px 0 0 20px; }
.solu_form img { float:left; }
.solu_formcon { float:left; width:252px; height:303px; }
.solu_formcon h4 { font-size:14px; font-weight:bold; display:block; height:29px; line-height:29px; }
.solu_formcon span { font-size:12px; margin:0px 0 17px; display:block; color:#676767; line-height:16px;}
/* new1216begin */
.solu_formcon h1 { font-size:14px; font-weight:bold; display:block; height:29px; line-height:29px; }
.solu_formcon h2 { font-size:12px;font-weight: normal;  margin:0px 0 17px; display:block; color:#676767; line-height:16px;}
/* new1216end */
.solu_formcon p { display:block; width:252px; border-top:1px solid #cad2dd; margin:20px 0 0 0; padding:0 0 0 10px; font-size:12px; color:#666; line-height:22px; }
.solu_formcon ul { list-style-type:none; }
.solu_formcon li a { width:220px; overflow:hidden; display:block; margin:0 0 8px 0; font-size:14px; color:#000; height:24px; line-height:25px; text-decoration:none; padding:0 0 0 6px; background:url(../images/solutions_a.gif)/*tpa=http://www.300.cn/images/solutions_a.gif*/ no-repeat; padding-left:25px; }
.solu_formcon li a:hover { background-color:#63813e; color:#fff; font-weight:bold; padding-left:25px; line-height:25px; font-size:14px; background:url(../images/solutions_ahover.gif)/*tpa=http://www.300.cn/images/solutions_ahover.gif*/ no-repeat; }
.solu_sele { margin:6px 7px 0 0; float:left; background:none; border:2px solid #7790b0; width:12px; height:12px; }
.solu_konw { float:left; width:185px; margin:122px 0 0 180px; background:url(../images/solu12.gif)/*tpa=http://www.300.cn/images/solu12.gif*/ no-repeat right bottom; }
.solu_konw h4 { font-size:12px; font-weight:bold; display:block; height:20px; line-height:30px; color:#67788a; background:url(../images/solu11.gif)/*tpa=http://www.300.cn/images/solu11.gif*/ no-repeat left top; padding:0 0 0 28px; }
.solu_konw ul { list-style-type:none; width:135px; margin:5px 0 0 28px; color:#7d8c9c; font-size:12px; }
.solu_konw ul li { margin:0 0 5px 2px; }
.solu_konw span a { display:block; width:112px; height:24px; background:url(../images/solu05.gif)/*tpa=http://www.300.cn/images/solu05.gif*/ no-repeat; margin:10px 0 0 12px; }
.solu_r { width:200px; float:right; }
.solu_r img { line-height:4px; font-size:4px; float:left; }
.solu_r span img { float:left; display:block; height:100px; width:210px; margin:10px 0 0 0; }
.solu_rcon { width:190px; float:left; border-left:1px solid #e9c7a2; border-right:1px solid #e9c7a2; background:url(../images/c_porrbot3.jpg)/*tpa=http://www.300.cn/images/c_porrbot3.jpg*/ repeat-x; padding:0 0 0 8px; height:260px; font-size:12px; overflow:hidden; }
.solu_rcon ul { list-style:none; }
.solu_rcon ul li { clear:both; overflow:hidden; }
.solu_rcon li img { margin:0 12px 0 0; }
.solu_rcon li span { display:block; float:left; height:15px; }
.solu_rcon p { color:#414141; line-height:1.5; display:block; width:150px; }
.solu_rcon a { font-size:12px; color:#3e8bff; text-decoration:none; }
.solu_rcon span.solu_rcon1 { background:url(../images/solu_r01.jpg)/*tpa=http://www.300.cn/images/solu_r01.jpg*/ no-repeat; width:60px; height:15px; }
.solu_rcon span.solu_rcon2 { background:url(../images/solu_r02.jpg)/*tpa=http://www.300.cn/images/solu_r02.jpg*/ no-repeat; width:135px; height:15px; }
.solu_rcon span.solu_rcon3 { background:url(../images/solu_r03.jpg)/*tpa=http://www.300.cn/images/solu_r03.jpg*/ no-repeat; width:60px; height:15px; }
.solu_rcon span.solu_rcon4 { background:url(../images/solu_r04.jpg)/*tpa=http://www.300.cn/images/solu_r04.jpg*/ no-repeat; width:135px; height:15px; }
.m_l_plate_bg { float:left; width:210px; }
.m_l_plate_bg img { float:left; height:4px; width:210px; }
.m_l_plate { float:left; width:208px; height:600px; border-left:1px solid #acb9cc; border-right:1px solid #acb9cc; clear:both; background-color:#fbfcfe; }
.m_l_plate h4 { font-size:14px; font-weight:bold; color:#153e7d; padding:15px 0 0 15px; }
.m_l_plate ul { margin:10px 0px 0px 13px; padding:0 0 10px 0; list-style-type:none; border-bottom:1px solid #cce0eb; width:185px; }
#othermenu2 { border:none; }
.m_l_plate li { margin:0px; padding:0px; text-align:left; line-height:20px; }
.m_l_plate li a { color:#2c5c8c; text-decoration:none; font-size:12px; height:24px; display:block; line-height:24px; padding-left:12px; margin-left:20px; background:url(../images/pro_line10.gif)/*tpa=http://www.300.cn/images/pro_line10.gif*/ no-repeat center left; }
.m_l_plate li a:hover { color:#067c17; }
.m_box_plate_bg { float:left; width:477px; margin-left:14px; padding:0; background-color:#fff; }
.m_box_plate_bg img { width:477px; float:left; height:4px; }
.m_box_plate_bg img.pro_line4, .m_box_plate_bg img.pro_line5 { float:left; width:1px; margin:0; padding:0; height:420px; }
.m_box_plate { float:left; width:475px; height:30px; background-color:#fbfcfe; }
.m_box_plate h4 { width:475px; height:39px; display:block; background:url(../images/pro_line8.gif)/*tpa=http://www.300.cn/images/pro_line8.gif*/ no-repeat; }
.m_box_plate h4 img { width:160px; height:16px; margin:10px 0 0 18px; }
.pro_content { float:left; width:475px; height:auto; margin:10px 0px 0px 0px; }
.pro_title_list { width:557px; height:24px; color:#05355d; font-size:14px; font-weight:bold; line-height:24px; border-bottom:#dce2eb 1px solid; }
.pro_title_lists { width:557px; height:24px; color:#05355d; font-size:14px; font-weight:bold; line-height:24px; border-top:#dce2eb 1px solid; }
.pro_cp { width:557px; height:auto; margin:0px 0px 20px 0px; height:auto; overflow:hidden; }
.pro_cp ul { margin:10px 0px 20px 0px; padding:0px; width:182px; float:left; list-style-type:none; }
.pro_cp li { margin:0px; padding:0px; color:#414141; }
.pro_cps { width:557px; height:auto; margin:0px 0px 20px 0px }
.litext { font-size:13px; font-weight:bold; }
.litext2 { font-size:12px; }
.litext22 { font-size:12px; height:20px; }
.litext2_s { font-size:12px; width:150px; line-height:18px; border-top:#dce2eb 1px solid; height:85px; }
.litext2_s_2 { font-size:12px; width:157px; line-height:18px; border-top:#dce2eb 1px solid; height:85px; }
.r_text_r { color:#153e7d; font-weight:bold; font-size:14px; }
.top_hot { width:auto; min-height:90px; }
.top_hot ul { margin:0px; padding:0px; list-style-type:noen; float:left; }
.top_hot li { margin:0px; padding:0px; }
.hot_t a { color:#1c519f; text-decoration:none; font-size:13px; font-weight:bold; }
.hot_t a:hover { color:#1c519f; text-decoration:underline; font-size:13px; font-weight:bold; }
.h_list a { color:#a9c4f3; font-size:12px; font-family:Arial; text-decoration:none; }
.h_list a:hover { color:#a9c4f3; font-size:12px; font-family:Arial; text-decoration:underline; }
.h_s_list a { color:#505050; font-size:12px; text-decoration:none; }
.h_s_list a:hover { color:#505050; font-size:12px; text-decoration:underline; }
.list_hot_news { width:100%; height:60px; }
.list_hot_news ul { margin:0px; padding:0px; list-style-type:none; }
.list_hot_news li { margin:0px; padding:0px 0px 0px 5px; font-size:12px; }
.h3_l_t { margin:0px; padding:5px 0px 5px 0px; font-size:14px; font-weight:bold; color:#0e4067; width:100%; }
.buttomin a { width:100px; height:30px; background:url(../images/botton_icon.gif)/*tpa=http://www.300.cn/images/botton_icon.gif*/ top; color:#0e4067; font-size:14px; font-weight:bold; text-align:center; line-height:27px; text-decoration:none; display:block; }
.buttomin a:hover { width:100px; height:30px; background:url(../images/botton_icon.gif)/*tpa=http://www.300.cn/images/botton_icon.gif*/ bottom center; color:#0e4067; font-size:14px; font-weight:bold; text-align:center; line-height:27px; text-decoration:none; display:block; }
.mail a { color:#a9c505; font-size:12px; font-weight:bold; text-decoration:none; }
.mail a:hover { color:#a9c505; font-size:12px; font-weight:bold; text-decoration:underline; }
/* 工业制造业解决方案 */
body { font:Arial; }
.solu_under { margin:10px 0 0 20px; }
.solu_under h5 { color:#33639f; font-size:14px; font-weight:bold; line-height:30px; background:url(../images/pro_line12.gif)/*tpa=http://www.300.cn/images/pro_line12.gif*/ no-repeat left center; padding-left:15px; }
.solu_under p { margin:0 0 0 16px; font-size:12px; width:430px; }
.solu_super { margin:20px 0 0 20px; background:url(../images/pro_bg01.jpg)/*tpa=http://www.300.cn/images/pro_bg01.jpg*/ no-repeat right bottom; height:230px; }
.solu_superbom { clear:both; width:375px; float:right; }
.solu_superbom img { height:1px; width:375px; }
.solu_super h5 { color:#33639f; font-size:14px; font-weight:bold; line-height:30px; background:url(../images/pro_line12.gif)/*tpa=http://www.300.cn/images/pro_line12.gif*/ no-repeat left center; padding-left:15px; margin:0 0 5px 0; }
.solu_super dl { margin:0 0 15px 16px; }
.solu_super dt { color:#33639f; font-size:12px; font-weight:bold; line-height:20px; display:block; width:205px; height:20px; background-color:#e0eaf2; padding:0 0 0 25px; margin:5px 0 0 0; }
.solu_super dd { width:200px; display:block; font-size:12px; margin:5px 0 0 25px; padding:0 0 0 10px; background:url(../images/pro_line10.gif)/*tpa=http://www.300.cn/images/pro_line10.gif*/ no-repeat left center; }
.solu_pro { margin:20px 0 0 20px; _margin:20px 0 0 10px; padding:0; width:315px; float:left; }
.solu_pro h5 { color:#33639f; font-size:14px; font-weight:bold; line-height:30px; background:url(../images/pro_line12.gif)/*tpa=http://www.300.cn/images/pro_line12.gif*/ no-repeat left center; padding-left:15px; }
.solu_pro img { width:34px; height:34px; margin:0 8px 0 0; vertical-align:middle; }
.solu_pro ul { list-style-type:none; margin-top:10px; }
.solu_pro ul li { float:left; margin:0 10px 30px 15px; _margin:0 10px 30px 8px; }
.solu_bottom { float:left; margin:0 0 0 35px; _margin:0 0 0 20px; }
.solu_bottom a { font-size:12px; color:#ba2e47; display:block; clear:left; width:400px; text-decoration:none; line-height:24px; }
.solu_pro_mo { float:left; }
.solu_pro_mo span { background:url(../images/pro_img02.gif)/*tpa=http://www.300.cn/images/pro_img02.gif*/ no-repeat; width:90px; float:left; height:0; overflow:hidden; padding-top:18px; }
#solu_pro_mo2 { background:url(../images/pro_img04.gif)/*tpa=http://www.300.cn/images/pro_img04.gif*/ no-repeat; }
#solu_pro_mo3 { background:url(../images/pro_img06.gif)/*tpa=http://www.300.cn/images/pro_img06.gif*/ no-repeat; }
#solu_pro_mo4 { background:url(../images/pro_img08.gif)/*tpa=http://www.300.cn/images/pro_img08.gif*/ no-repeat; }
#solu_pro_mo5 { background:url(../images/pro_img10.gif)/*tpa=http://www.300.cn/images/pro_img10.gif*/ no-repeat; }
#solu_pro_mo6 { background:url(../images/pro_img12.gif)/*tpa=http://www.300.cn/images/pro_img12.gif*/ no-repeat; }
.solu_pro_mo a { clear:left; font-size:12px; color:#376284; display:block; width:62px; background:url(../images/pro_line14.gif)/*tpa=http://www.300.cn/images/pro_line14.gif*/ no-repeat right center; text-decoration:none; }
.solu_client { width:127px; height:220px; float:left; margin:20px 0 0 0; padding:0 0 0 8px; background:url(../images/pro_line15.gif)/*tpa=http://www.300.cn/images/pro_line15.gif*/ no-repeat left top; }
.solu_client h5 { color:#33639f; font-size:14px; font-weight:bold; line-height:30px; background:url(../images/pro_line12.gif)/*tpa=http://www.300.cn/images/pro_line12.gif*/ no-repeat left center; padding-left:15px; }
.solu_client img { width:92px; height:64px; margin:0 0 0 14px; }
.solu_client p { margin:0 0 8px 14px; width:100px; font-size:12px; color:#2c4a71; }
.solu_client a { width:100px; display:block; text-align:right; text-decoration:none; font-size:12px; color:#2c4a71; }
.sosu { width:160px; height:24px; float:left; margin-top:8px; }
.input1 { background:url(../images/input.gif)/*tpa=http://www.300.cn/images/input.gif*/ 100% 0% no-repeat; width:120px; height:32px; float:left; border:none; line-height:24px; padding-left:7px; overflow:hidden; }
.input2 { background:url(../images/so.gif)/*tpa=http://www.300.cn/images/so.gif*/ no-repeat; width:24px; height:32px; float:left; border:none; }
/* 产品 Z+ */

.product_z { float:left; width:703px; _width:693px; height:auto; padding:0; margin:0px 0px 20px 15px; font-family:Arial; line-height:20px; }
.product_zbom { float:left; border-top:1px solid #cfd8e4; width:675px; margin:0 0 0 8px; padding:20px 0 0 0; }
.product_zbom img { float:left; }
.product_zbom_js { width:675px; float:left; overflow:hidden; margin:20px 0; }
.product_zjs { float:left; width:675px; margin:18px 0 0 0; overflow:hidden; text-decoration:none; }
.product_zjs ul { float:left; }
.product_zjs li { float:left; width:112px; overflow:hidden; text-align:left; color:#3c3c3c; line-height:16px; margin:0 7px; display:inline; }
.product_zjs li a p { color:#3c3c3c; line-height:16px; font-size:12px; list-style:none; text-decoration:none; }
.product_ban { float:left; width:688px; height:230px; background:url(../images/z01.jpg)/*tpa=http://www.300.cn/images/z01.jpg*/ no-repeat center; clear:both; }
.product_ban ul { display:block; width:475px; margin:80px 0 0 15px; }
.product_ban li { background:url(../images/port02.gif)/*tpa=http://www.300.cn/images/port02.gif*/ no-repeat left 7px; padding-left:15px; float:left; width:460px; }
.product_ban img { clear:left; float:left; margin-left:380px; }
.z_banner { float:left; margin-top:10px; _margin-top:-60px; padding:0; }
.menu li a.normal { height:37px; color:#fff; }
.menu li a.over { background:none; color:#fff; }
.menu li a.cur2 { background:url(../images/as3.gif)/*tpa=http://www.300.cn/images/as3.gif*/ center no-repeat; color:#fff; }

/*  z-数字通讯平台 */
.product_num { width:688px; height:230px; background:url(../images/znum01.jpg) no-repeat center; }
.product_num h1 { font:bold 20px/24px "Microsoft YaHei"; color:#153e7d; padding:20px 0 0 100px;}
.product_num blockquote { padding-left:30px; width:350px; margin-top:35px; text-indent:0;}
.contentlist { background:#fff; margin-top:0; }
.product_zm_bann { margin-top:30px;}
.product_zm_bann span { font:bold 20px/24px "Microsoft YaHei"; color:#153e7d; padding-right:10px;}
.product_zm_bann a { margin-right:25px;}
.product_zm_bann img { vertical-align:middle;}

/*解决方案中间内容新加初次建站获取建议*/
.fangan_one h3{background:url(../images/yyzj.jpg) 0% 0% no-repeat; font:bold 14px/24px "宋体"; padding-left:30px; margin-bottom:15px;color:#153E7D;}
.fangan_one p{ color:#7D8C9C; display:block; width:100%; margin-bottom:10px;}

.zhuanjia{ margin-top:25px;}
.topmess{color:#6883ac;}



/*  z邮局0228新版 */
.product_zmd8 { width:650px;}
.product_zmd8 h1 { font:bold 20px/24px "Microsoft YaHei"; color:#153e7d; padding:20px 0 20px 30px;}
.product_zmd8 blockquote { padding-left:45px; color:#333; text-indent:2em;}
.product_zmd8 .zfun_t{ text-align:center; width:650px; padding:20px 0px;}

.contentlist { background:#fff; margin-top:0;}
.product_zmd8_bann { margin-top:30px; padding-left:30px;}
.product_zmd8_bann span { font:bold 20px/24px "Microsoft YaHei"; color:#153e7d; padding-right:10px;}
.product_zmd8_bann a { margin-right:25px;}
.product_zmd8_bann img { vertical-align:middle;}