@charset "utf-8";
/*****************************************
* 名 称：about.css
* 作 者：王军亮
* 日 期：2014-2-28
* 版 本：1.0
* 概 要：(服务与支持-样式)
*****************************************/

/*全国服务网络*/
.qgfwwlbox p{line-height:18px;color:#333333;margin:0;padding:0;}
.qgfwwlbox h3{color:#2d4f7d;font-size:12px;margin-top:20px;margin-bottom:5px;}
.search_buttom{margin-top:10px;}
.search_buttom a { font-size:14px; font-weight:bold; text-align:center; line-height:27px; color:#0e4067; background:url(../images/botton_icon.gif) no-repeat left top; display:block; width:92px; height:27px; text-decoration:none; }
.search_buttom a:hover { font-size:14px; font-weight:bold; text-align:center; line-height:27px; color:#0e4067; background:url(../images/botton_icon.gif) -0px 30px; display:block; width:92px; height:27px; text-decoration:none; }
.map{width:536px;height:423px;position:relative;background:url(../images/map_contact.gif) no-repeat;}
.earh {position:absolute;font-weight:normal; }
.earh a{text-decoration:none;background:url(../images/point05.gif) no-repeat 10px bottom;font-size:12px;color:#58677a;font-size:12px;padding:0px 0px 0px 0px;height:18px;display:block;}
.earh a:hover{text-decoration:none;background:url(../images/point05_.gif) no-repeat 10px bottom;font-size:12px;color:#5786c1;font-size:12px;padding:0px 0px 0px 0px;height:18px;display:block;}
.h_5class{margin:0px;padding:0px;font-size:12px;color:#414141;font-family:Arial;margin-top:5px;font-weight:normal;}
.moreplate{width:auto;height:auto;}
.moreplate ul{margin:0px;padding:0px;list-style-type:none;width:170px;height:115px;float:left;padding-right:10px;}
.moreplate li{margin:0px;padding:0px;}
.ch1{font-size:13px;color:#14458f;border-bottom:#d2dbe7 1px solid;line-height:22px;font-weight:bold;margin-bottom:3px;}
.mypop {overflow:hide;background:#fff;height:100%}
.mypop h4 {padding-left:10px;font:bold 14px/30px "宋体";color:#153e7d;border-bottom:1px solid #ccc;}
.mypop dl {padding:5px 5px 5px 10px;}
.mypop dt {font:bold 12px/24px "宋体";color:#153e7d;}
.moreplate {overflow:auto;}
.moreplate dl {float:left;width:162px;}

/*技术运营与实力*/
.jsyyyslbox h2{color:#153e7d;font-size:14px; font-weight:100;margin-left:15px;}
.jsyyyslbox .ul{float:left;width:315px;}
.jsyyyslbox .ul li{color:#333333;padding-left:15px;margin-top:15px;background:url(../images/biao.gif) 0% 8px no-repeat;}
.jsyyyslbox .img1{float:left;margin-left:20px;margin-top:20px;}
.jsyyyslbox .img2{float:left;}
.jsyyyslbox span{color:#0079ff;}
.jsyyyslbox .ul1{width:182px;margin-top:25px;float:left;}
.jsyyyslbox .ul1 li{float:left;margin-top:26px;width:182px;}
.jsyyyslbox .ul2{float:left;width:320px;margin-top:35px;margin-left:30px;}
.jsyyyslbox .ul2 li{color:#333;}
.jsyyyslbox .ul2 li strong{color:#2d4f7d;font-size:14px;display:block;}
.jsyyyslbox h3{margin-top:10px;}

/*客户服务保障*/
.khfwbzbox h2{color:#153e7d;font-size:14px; font-weight:100;margin-left:15px;}
.khfwbzbox .img1{float:left;margin-top:30px;margin-left:13px;}
.khfwbzbox .ul2{float:left;width:335px;margin-top:20px;margin-left:20px;}
.khfwbzbox .ul2 li{color:#333;}
.khfwbzbox .ul2 li strong{color:#2d4f7d;font-size:14px;display:block;}
.khfwbzbox .ul2 span{color:#2d4f7d;font-weight:bold;}
.khfwbzbox h3{margin-top:5px;}
.khfwbzbox .ul1{margin-top:20px;margin-left:15px;}
.khfwbzbox .ul1 li strong{font-size:14px;color:#2d4f7d;}
.khfwbzbox .ul1 li{color:#333;}
.khfwbzbox .ul1 li span{color:#333;font-weight:bold;}
.khfwbzbox .ul3{margin-top:20px;padding-left:15px;width:350px;float:left;}
.khfwbzbox .ul3 li strong{font-size:14px;color:#2d4f7d;}
.khfwbzbox .ul3 li{color:#333;}
.khfwbzbox .ul3 li span{color:#507229;font-size:12px;font-weight:bold;}
.khfwbzbox .img2{float:left;margin-left:40px;margin-bottom:20px;}

/*了解我们的服务*/
.ljwmdfw{ position:relative;height:365px;*height:369px; padding-left:10px;}
.ljwmdfw p{margin:0;padding:0;color:#666;width:250px; line-height:16px; padding:7px 0px;}
.ljwmdfw ul li{ width:520px;padding-left:15px;background:url(../images/index_bit.gif) 0% 10px no-repeat;font-size:14px;color:#000;line-height:25px;}
.ljwmdfw ul li a:link,.ljwmdfw ul li a:visited{color:#000;}
.ljwmdfw ul li a:hover{color:#C52500;}
.ljwmdfw .flash{width:585px;height:375px;position:absolute;top:0;left:100px;}